uploads/
faiss_index/
document_store/
__pycache__/
.env
embedding_model/
**/__pycache__/
store/
nuitka-crash-report.xml
build/
private_devbot.log
document_extractor_for_remote_server.dist/
document_extractor_for_remote_server.e*
.cursor/
.cursorignore
.windsurf/
devbot_doc_extractor.zip
monitoring_files_*.*
private_devbot_conda/
embedding_model
*_old.md
private_devbot_conda.zip
server_pid.txt
*.old
*.*_old
.vscode/
ui/private_devbot_ui_config.json
log/
ui/private_devbot_ui_config.json
build_installer/
resources/*.png